<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TodoApp{% endblock %}</title>
    <!-- Modern fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base.css') }}">
    {% block styles %}{% endblock %}
</head>

<body>
    {% block navbar %}{% endblock %}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}

    <script src="{{ url_for('static', path='/js/jquery-slim.js') }}"></script>
    <script src="{{ url_for('static', path='/js/popper.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', path='/js/base.js') }}" defer></script>
</body>

</html>